.container{
    background-color: aquamarine;
}
.heading{
  border-style:solid;
  width:auto;
  background-color: aliceblue;
}
.box{
    padding: 20px 20px;
    margin: 30px 0px;
    background-color: rgb(202, 18, 193);
}
.box-part{
    padding: 10px 20px 20px;
    margin:30px 5px;
    border-style:solid;
    width:250px;
    height:200px;
    background-color: antiquewhite;
}
.text{
    line-height:1.0;
}
